h1{
  color:red;
}


.mainvisual{
  width: 100%;
  height: 400px;
  background-image: url('firstview.png');
}
<<<<<<< HEAD

.info{
  font-size: 50px;
}
=======
>>>>>>> c6acf9bbd78c2b3a845ea16501649b841b229a2b
